alabaster==1.0.0
annotated-types==0.7.0
asgiref==3.8.1
asttokens==3.0.0
attrs==24.3.0
autobahn==24.4.2
autoflake==2.3.1
Automat==24.8.1
autopep8==2.3.1
babel==2.16.0
bandit==1.8.0
black==24.10.0
cairocffi==1.7.1
CairoSVG==2.7.1
captcha==0.6.0
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.1
click==8.1.8
codecov==2.1.13
constantly==23.10.4
coverage==7.6.10
cryptography==44.0.0
cryptojwt==1.9.3
cssselect2==0.7.0
daphne==4.1.2
decorator==5.1.1
defusedxml==0.7.1
design-django-theme==1.6.4.post4
Django==4.2.17
django-admin-search-builder @ git+https://github.com/UniversitaDellaCalabria/django-admin-search-builder.git@8af50b35784142d51cbc4f0c834c3f202db88dc3
django-ckeditor==6.7.2
django-clearcache==1.2.1
django-datatables-ajax @ git+https://github.com/peppelinux/django-datatables-ajax.git@515f6e3b8ff07afb136da26da4c09cb881f7c02f
django-debug-toolbar==4.4.6
django-filter==24.3
django-form-builder==1.2.1
django-js-asset==3.0.1
django-nested-admin==4.1.1
djangorestframework==3.15.2
djangosaml2==1.9.3
docutils==0.21.2
elementpath==4.7.0
executing==2.1.0
filesig @ git+https://github.com/peppelinux/FileSignatureValidator.git@63b82b5df50f61376ad53896b6565be46bcb6361
flake8==7.1.1
gunicorn==23.0.0
html5lib==1.1
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
incremental==24.7.2
ipython==8.31.0
isodate==0.7.2
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.5
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.5.0
msgpack==1.1.0
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pbr==6.1.0
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==0.13.1
prompt_toolkit==3.0.48
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.19.1
pylama==8.4.1
PyMySQL==1.1.1
pyOpenSSL==24.3.0
pyphen==0.17.0
pysaml2==7.5.0
pytest==5.4.1
pytest-cov==6.0.0
pytest-django==3.8.0
pytest-pythonpath==0.7.3
python-dateutil==2.7.5
python-magic==0.4.27
python-monkey-business==1.1.0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.9.4
service-identity==24.2.0
setuptools==75.8.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-images==0.9.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stack-data==0.6.3
stevedore==5.4.0
tinycss2==1.4.0
traitlets==5.14.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==1.26.20
wcwidth==0.2.13
WeasyPrint==52.4
webencodings==0.5.1
wheel==0.45.1
xmlschema==2.5.1
zeep==4.3.1
zipp==3.21.0
zope.interface==7.2
