alabaster
annotated-types
asgiref
asttokens
attrs
autobahn
autoflake
Automat
autopep8
babel
bandit
black
cairocffi
CairoSVG
captcha
certifi
cffi
channels
channels_redis
charset-normalizer
click
codecov
constantly
coverage
cryptography
cryptojwt
cssselect2
daphne
decorator
defusedxml
design-django-theme
Django
django-admin-search-builder @ git+https://github.com/UniversitaDellaCalabria/django-admin-search-builder.git@8af50b35784142d51cbc4f0c834c3f202db88dc3
django-auth-ldap
django-ckeditor
django-clearcache
django-datatables-ajax @ git+https://github.com/peppelinux/django-datatables-ajax.git@515f6e3b8ff07afb136da26da4c09cb881f7c02f
django-debug-toolbar
django-filter
django-form-builder
django-js-asset
django-nested-admin
djangorestframework
djangosaml2
docutils
elementpath
executing
filesig @ git+https://github.com/peppelinux/FileSignatureValidator.git@63b82b5df50f61376ad53896b6565be46bcb6361
flake8
gunicorn
html5lib
hyperlink
idna
imagesize
incremental
ipython
isodate
isort
jedi
Jinja2
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mccabe
mdurl
more-itertools
msgpack
mypy-extensions
packaging
parso
pathspec
pbr
pexpect
pillow
platformdirs
pluggy
prompt_toolkit
psycopg2
ptyprocess
pure_eval
py
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pydocstyle
pyflakes
Pygments
pylama
PyMySQL
pyOpenSSL
pyphen
pysaml2
pytest
pytest-cov
pytest-django
pytest-pythonpath
python-dateutil
python-magic
python-monkey-business
pytz
PyYAML
redis
requests
requests-file
requests-toolbelt
rich
service-identity
setuptools
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-images
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stack-data
stevedore
tinycss2
traitlets
Twisted
txaio
typing_extensions
uritemplate
urllib3
wcwidth
WeasyPrint
webencodings
wheel
xmlschema
zeep
zipp
zope.interface
